
li{
    font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.header{
    display: flex;
    align-items: center;
    gap: 250px;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
    background-color: #493231;
    padding:  72px, 24px, 72px;
    z-index: -1;
    

    
    
}
ul{
    gap: 60px;
    display: flex;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    color: #FBF9F9;
    justify-content: center;
    border: 1px;

}
a{
    text-decoration: none;
    color: #FBF9F9;
    cursor: pointer;
}
.sunnyvale{
    font-family: "Aladin", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #FBF9F9;
    font-size: 15px;
    margin-left: 30px;
}
#vale{
    text-indent: 50px;
    margin-left: 15px;
}
/* li :hover{
    cursor: pointer;
    border: 0px,0px,8px , 0px solid;
    border-radius: 10px;
    border-color: #FBF9F9;
    


} */
/* a:hover{
    cursor: pointer;
    border: 0px,0px,8px , 0px solid;
    border-radius: 10px;
    border-color:aqua;
     
} */
 .NAV:hover{
    cursor: pointer;
    border: 0px,0px,8px , 0px solid;
    border-radius: 10px;
    border-color:aqua;
 }
 button{
    border-style: none;
    background-color: #5C3F3D;
    width: 144px;
    height: 46px;
    border-radius: 24px;
     color: white;
     font-size: 16px;
     margin-right: 20px;
     cursor: pointer;

 }

 .header {
    background-color:#493231; /* add a background color */
    padding: 0; /* remove default padding */
    margin: 0; /* remove default margin */
    width: 100%; /* make it full width */
    display: flex; /* make it a flex container */
    justify-content: space-between; /* justify content to the edges */
    align-items: center; /* vertically center the content */
  }
  
  NAV {
    padding: 0; /* remove default padding */
    margin: 0; /* remove default margin */
    width: 100%; /* make it full width */
  }

  li:hover{
  border: 1px solid;
  border-color: #FBF9F9;
  border-radius: 10px;

}
.section-div p{
    font-size: 20px;
    padding-bottom: 30px;
    margin-top: 0;
    
}
.section-div h1{
    font-size: 48px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    
}
.section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-left: 20px;
    gap: 0px;
    
}
.flex{
    display: flex;
    flex-direction: column;
}

.section-div{
    margin-left: 100px;
}
.span-p{
    margin-left: -50px;
    justify-content: center;
}

/* 
.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
  }
  
  .NAV ul li:hover .dropdown {
    display: block;
  }
  
  .dropdown li {
    margin-bottom: 10px;
  }
  
  .dropdown li a {
    color: #333;
    text-decoration: none;
  }
  
  .dropdown li a:hover {
    color: #666;
  } */
  .dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
  }
  
  .NAV ul li:hover .dropdown {
    display: block;
  }
  
  .dropdown li {
    margin-bottom: 10px;
  }
  
  .dropdown li a {
    color: #333;
    text-decoration: none;
  }
  
  .dropdown li a:hover {
    color: #666;
  }
/* page 2 */

.section-2-div{
    display: flex;
    gap: 10px;
flex-direction: column;
margin-left: 50px;
    
}
.section-2-gap{
    margin-top: 100px;
    background-color: #F9F6F6;
    height: 100vh;
}
.section-2-p{
    font-size: 20px;
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.section-2-h1{
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    text-indent: 200px;
}
.section-2 {
    position: relative;
    height: 100vh;
    margin-top: 250px;
    
    
    
  }
  
  .image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    justify-content: center;
    align-self: flex-end;
    /* transform: translateX(30px);
    transform: translateY(-120px) ; */
    margin-left: 400px;

  }
  
  .image-container img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px 1px; 
    margin-left: 130px;
     transform: translateY(300px) ;
     transform: translateX(60px);
     margin-bottom: 130px;
  }

  /* PAGE 3 */
  /* .section-3{
    margin-top: 10px;    
  } */
   .section-3{
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
   }
  .section-3-text{
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    text-indent: 200px;
    display: flex;
    flex-direction: row;
  }
.section-3-text h1{
  font-size: 35px;
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px; padding-left: 40px;
  
}
.section-3-text p{
  font-size: 27px;
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
  Width: 280px; Height:145px;
 
}
.section-3-info{
  display: flex;
  gap: 150px;
}
.section-3-container{
  background-color: #EBE1E0;
  /* color: black; */
  border: none;
  width: 620px;
  height: 385px;
  border-radius: 20px;
  /* padding-top: 5%; */
}
.section-3-flex{
  display: flex;
  gap: 20px;
}
.section-3-img{
  margin-left: 20px;
}
#section-3-button{
  cursor: pointer;
  background-color: #2C2C2C;
  width: 160px;
  height: 50px;
  border-radius: 8px;
  column-gap: 40px;
  justify-content: center;
  align-self: center;
  margin-left: 60px;
  padding-top: 5px;

}
.section-3-down{
  padding-top: 7%;
}
.section-3-row h1{
  display: flex;
  justify-content: start;
  margin-left: 15px;
}
.section-3-container-2{
  background-color: #EBE1E0;
  /* color: black; */
  border: none;
  width: 312px;
  height: 385px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.section-3-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-3-features{
  display: flex;
  flex-direction: row;
  gap: 30px; 
}
/* END OF PAGE 3 */



/* PAGE 4 */
/* .section-4-p{
  Width:566px;
Height:256px;
}
.section-4-text{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
} */
.section-4{
  margin-top: 160px;
  font-family: "Andika", sans-serif;
  font-weight: 400;
  font-style: normal;
 } 
 .section-4-text{
  Width: 566px;
Height:421px;
Gap:24px;
 }
 .section-4-text h1{
  font-size: 48px;
 }
 #VISUAL{
  text-indent: 40px;
 }





/* .section-4-text h1{
font-family:"Andika", sans-serif;
font-weight:700;
Size:48px;
Line-height: 77.34px;
font-size: 48px;
}
.section-4-span{
  text-indent: 60px;

}
.section-4-img img{
  display: flex;
  margin-left: 700px;
  width: 500px;
  height: 830px;
  margin-bottom: 5000px;
}
.IMAGE{
  size: 10%;
} */ */
/* TEST */
.section4{
  size: 100vh;
   Width:1,384px;
  Height:771px;
}


.image-container-2 {
  flex-basis: 30%;
  margin-left: 20px;
  margin-top: 50px;
}

.image-2 {
  width: 100%;
  height: auto;
  margin: 20px;
}
.section-4-flex{
  display: flex;
  flex-direction: row;
}
.section-4-p{
  font-family:"Andika" , New Basic;
font-weight: 400;
font-size:20px;
Width: 500px;
Height:256px;

}
.section-4-text{
  margin-left: 40px;
  gap: 60px;
}
.section-4-img{
  margin-right: 50px;
  Width: 648px;
Height:771px;
}


/* START OF PAGE 5 */
.section-5{
  background-color: #493231;
  padding-bottom: 40px;
  padding-top: 40px;
}

.section-5-text{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
}
#section-5-h1{
  text-indent: 60px;
  color: #fbf9f9;
  width: 544px;
  height: 141px;
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-size: 42px;
}
#section-5-p{
  color: #fbf9f9;
  font-size: 20px;
  font-weight: 400;
  font-family:"Andika", sans-serif;
}
.section-5-form{
  background-color: #3d2929;
  align-items: center;
  justify-content: center;
  width: 490px;
  height: 490px;
  padding: 32px 32px;
  /* gap: 24px; */
  margin-left: 370px;
   border-radius: 16px;
   margin-bottom: 50px;
   margin-top: 30px;
   gap: 80px;
/* 
   width:466px;
height:48px;
border-radius: 16px;
border: 1px solid;
padding:8px, 320px, 8px, 20px;
gap:10px; */
}

#form-h1{
  color: #fbf9f9;
  text-align: center;
}

.form{
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 60px;
}
.section-5-button{
  align-items: center;
  text-align: center;
}
form{
  gap: 90px;
}
input{
  background-color: #3d2929;
  border-color: #7b5451;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  color: #fbf9f9;
  padding: 10px;

  
  width:466px;
  height:40px;
  border-radius: 16px;
  border: 1px solid;
  padding:8px, 320px, 8px, 20px;
  gap:10px;
}




